// --------------------------------
// Photo Gallery
// --------------------------------

.gallery {
  position: relative;
  width: 100%;
  margin: 50px auto 0;

  &:hover {
    .image-wrapper {
      opacity: 0.25;
    }

    .image-wrapper:hover {
      opacity: 1;
      transform: scale(1.5);
      z-index: 9999;
    }
  }

  .image-wrapper {
    float: left;
    width: 20%;
    height: 0;
    padding: 20% 0 0 0;
    display: block;
    position: relative;
    transition: opacity 0.3s, transform 0.2s;

    @media screen and (max-width: 1200px) {
      width: 25%;
      padding: 25% 0 0 0;
    }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: $accent;
      background-size: cover;
      background-position: center center;
    }
  }
}
