</body>
<footer>
  <hr>
  <div class="footer-container">
    <div class="item">
      <a href="http://nodeschool.io/">More info on NodeSchool</a>
    </div>
    <div class="item">
      <img class="github-icon" src="{{site.url}}/img/github.png">
      <a href="https://github.com/nodeschool/{{site.repo}}/blob/gh-pages/{{page.path}}">Edit this page on Github</a>
    </div>
    <div class="item">
      <a href="https://github.com/nodeschool/vancouver/blob/master/code-of-conduct.md">Code of Conduct</a>
    </div>
  </div>
</footer>
</html>
