*{
  padding: 0;
  margin: 0;
}
body {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Medium', 'Trebuchet MS', sans-serif;
  font-size: 22pt;
  color: #555;
}
header, main, article, footer {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 1024px;
}
header {
  text-align: center;
  font-size: 1.5em;
}
.sm {
  background-color: #f3f3f3;
  font-size: .6em;
}
h1 {
  font-size: inherit;
}
footer, footer a {
  font-size: .9em;
  text-align: center;
  color: #000;
}
footer a {
  padding: 0 1.2em;
}
footer a:hover {
  color: #777;
}

.events{
  text-align: center;
  padding-top: .5em;
  float: center;
}
.contact{
  float: center;
  text-align: center;
}
a {
  text-decoration: none;
  color: #ff003c;
  text-align: center;
}
a:hover {
  color: #c40011;
}
