// --------------------------------
// Base
// --------------------------------

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background: $accent;
  box-sizing: border-box;
  color: $base;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 200%;
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

h2, h3 {
  color: $accent;
  font-weight: 400;
  line-height: 160%;
  margin: 1.5em 0 0.5em 0;

  strong {
    font-weight: 900;
  }
}

h2 {
  font-size: 32px;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid rgba($accent, 0.15);

  @media screen and (max-width: 800px) {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

p code {
  display: inline-block;
  background: $base;
  color: white;
  padding: 0 10px;
  margin: 0 2px;
  font-size: 1em;
}

a {
  &:link, &:visited {
    color: $accent;
    text-decoration: none;
  }

  &:hover, &:active {
    color: $accent;
    text-decoration: underline;
  }
}

// --------------------------------
// Classes
// --------------------------------

.ir {
  font: 0 / 0 a;
  text-shadow: none;
  color: transparent;
}

.cf:before {}

.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.terminal {
  position: relative;
  background-color: $base;
  color: white;
  display: block;
  margin: 0 auto 15px auto;
  padding: 2em 0;

  pre {
    font-size: 1em;
    line-height: 180%;
    margin: 0;
    padding-left: 2em;
  }
}

.divider {
  color: rgba($base, 0.25);
  margin: 0 10px;
}

.highlight {
  padding: 0 0 1px 0;
  border-bottom: 1px solid rgba(white, 0.35);
}

// --------------------------------
// Main
// --------------------------------

.main {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;

  @media screen and (max-width: 800px) {
    display: block;
  }

  .panel {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;

    @media screen and (max-width: 800px) {
      display: block;
      clear: both;
      width: 100%;
      max-width: 100%;
      flex: none;
      float: left;
      height: auto;
    }
  }

  // --------------------------------
  // Right Side
  // --------------------------------

  .side {
    background: $accent;
    position: relative;
    color: $highlight;

    p {
      a {
        color: $highlight;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba($highlight, 0.35);
        transition: border-color 0.2s;

        &:hover {
          text-decoration: none;
          border-color: $highlight;
        }
      }
    }

    .container {
      width: 100%;
      height: 100vh;
      position: absolute;

      .inner {
        width: 80%;
        position: absolute;
        z-index: 9999;
        left: 10%;
        top: 10%;

        @media screen and (max-width: 800px) {
          width: 90%;
          left: 5%;
          top: 5%;
        }
      }

      .logo {
        img {
          width: 80%;
          max-width: 480px;
          height: auto;
          margin: 0 auto 40px;
          display: block;
        }

        &:hover {
          text-decoration: none;
        }

        .about {
          margin: 0 auto 60px;
          text-align: center;
          color: $highlight;
          font-size: 20px;
          font-weight: 300;
          line-height: 200%;
        }
      }

      h2 {
        color: $highlight;
        border-color: rgba($highlight, 0.35);
      }
    }
  }

  // --------------------------------
  // Left Side
  // --------------------------------

  .text {
    .container {
      width: 100%;
      background: white;
      padding: 60px 80px 60px 160px;

      @media screen and (max-width: 800px) {
        padding: 40px 20px;
      }

      .header {
        margin: 0 0 40px;

        .logo {
          display: block;
          position: relative;
          width: 40%;
          max-width: 400px;
          margin: 0 auto 20px;

          img {
            width: 100%;
            height: auto;
          }
        }

        h1 {
          font-size: 50px;
          line-height: 140%;
          text-align: center;
          font-weight: 300;
          margin: 0 auto 60px;
          letter-spacing: -1px;
          color: $accent;

          @media screen and (max-width: 800px) {
            font-size: 32px;
            margin: 0 auto 20px;
          }
        }
      }
    }
  }
}
