// --------------------------------
// Event Badge
// --------------------------------

.event {
  margin: 0;
  box-shadow: 0 0 30px darken($accent, 15%);
  background: $secondary;
  color: $tertiary;

  a, a:link, a:visited, a:active,
  p a, p a:link, p a:visited, p a:active {
    color: $tertiary;
    padding: 0 0 1px 0;
    border-bottom: 1px solid rgba($tertiary, 0.35);
  }

  .register {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 180%;
    font-weight: 100;
    padding: 0 25px;
    transition: all ease-in-out 0.2s;
    position: relative;

    strong {
      display: inline-block;
      font-weight: 600;
    }

    @media screen and (max-width: 800px) {
      padding-left: 20px;
    }

    &:before, &:after {
      font-family: "icon";
    }

    &:before {
      content: "";
      font-size: 24px;
      display: inline-block;
      padding: 0 25px 0 8px;
      margin: 0;
    }
  }

  .additional {
    padding: 20px 20px 30px 100px;
    margin: 0;
    position: relative;
    font-weight: 100;
    line-height: 200%;

    &:before {
      content: "";
      font-family: "icon";
      display: block;
      position: absolute;
      top: 50px;
      left: 35px;
      font-size: 32px;
    }
  }

  .schedule, .location {
    line-height: 100%;
    padding: 30px 20px 20px 90px;
    margin: 0 0 10px 0;
    position: relative;
    font-size: 18px;
    font-weight: 100;

    &:before {
      content: "";
      font-family: "icon";
      font-size: 24px;
      display: block;
      position: absolute;
      top: 30px;
      left: 35px;
    }
  }

  .schedule {
    border-top: 1px solid rgba($tertiary, 0.35);
    border-bottom: 1px solid rgba($tertiary, 0.35);
    padding-bottom: 30px;
    margin: 0;

    &:before {
      content: "";
    }
  }

  .timeline {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;

    .row {
      @extend .cf;

      list-style: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      line-height: 180%;
      border-bottom: 1px solid rgba($tertiary, 0.35);

      .time, .name {
        display: block;
        float: left;
        padding: 20px;
        text-align: left;
      }

      .time {
        width: 30%;
        padding: 20px 10px 20px 30px;
        font-weight: 600;
      }

      .name {
        width: 70%;
        font-size: 100;
        border-left: 1px solid rgba($tertiary, 0.35);
      }
    }
  }

  .map {
    width: 100%;
    height: 0;
    padding: 52.26% 0 0 0;
    position: relative;
    background: darken($secondary, 5%);
    transition: border-color ease-in-out 0.2s;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
