@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot?-fvbane");
  src: url("../fonts/icon.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/icon.woff?-fvbane") format("woff"), url("../fonts/icon.ttf?-fvbane") format("truetype"), url("../fonts/icon.svg?-fvbane#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
