// --------------------------------
// Mentors / Gallery / Attendees
// --------------------------------

.svgs {
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
}

.list-sponsors {
  text-align: center;

  img {
    max-width: 40%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
  }
}

.list-mentors, .list-photos, .list-attendees, .list-sponsors {
  width: 100%;
  z-index: 900;
  transform: translate3d(-5%, 0, 0);
  margin: 50px 0 0 0;
  position: relative;

  &:hover {
    .image-wrapper {
      opacity: 0.25;

      &:hover {
        opacity: 1;
        transform: scale(1.5);
        z-index: 9999;
      }
    }
  }

  .row {
    @extend .cf;

    display: block;
    clear: both;
  }

  .row:nth-of-type(even) {
    @extend .cf;

    display: block;
    clear: both;
    transform: translate3d(10%, 0, 0);

    @media(max-width: 800px) {
      transform: none;
    }
  }

  &.list-attendees .row:nth-of-type(even) {
    transform: translate3d(7%, 0, 0);
  }

  .image-wrapper {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 20%;
    height: 0;
    padding: 24% 0 0 0;
    margin: 0 0 0 0;
    transition: opacity 0.3s, transform 0.2s;

    svg {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.list-attendees {
  .image-wrapper {
    width: 12.5%;
    padding: 18% 0 0 0;

    .badge {
      display: none;
      width: 50px;
      height: 25px;
      background: $highlight;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -25px;
      z-index: 910;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: black;
      }

      &:before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 15px solid $highlight;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 15px solid $highlight;
      }
    }
  }
}
