// --------------------------------
// Tito Ticket Listing
// --------------------------------

.tito-ticket-list {
  border-top: 1px solid rgba($tertiary, 0.35);
  margin: 0;
  padding: 0;
}

.tito-ticket {
  @extend .cf;

  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid rgba($tertiary, 0.35);
}

.tito-badge-link,
.tito-notch {
  display: none !important;
}

.tito-ticket-name-wrapper,
.tito-ticket-price-quantity-wrapper,
.tito-ticket-price,
.tito-ticket-quantity {
  display: block;
  float: left;
}

.tito-ticket-name-wrapper {
  width: 60%;
  padding: 20px 0 20px 90px;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  &:before {
    content: "î™¯";
    font-family: "icon";
    font-size: 32px;
    font-weight: 100;
    line-height: 100%;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    margin: (-16px) 0 0 0;
    padding: 0 0 0 30px;
  }
}

.tito-ticket-price-quantity-wrapper {
  padding: 20px 0;
  width: 40%;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.tito-ticket-price,
.tito-ticket-quantity {
  text-align: right;
  padding-right: 20px;
}

.tito-ticket-price {
  width: 40%;

  @media screen and (max-width: 800px) {
    padding: 20px;
    width: 50%;
  }
}

.tito-ticket-quantity {
  width: 60%;
}

.tito-ticket-quantity-field {
  width: 70%;

  @media screen and (max-width: 800px) {
    padding: 20px;
    width: 50%;
  }
}

.tito-ticket-price span,
.tito-ticket-quantity .tito-submit {
  display: inline-block;
  line-height: 100%;
}

.tito-submit-wrapper {
  padding: 25px;
  text-align: right;
  border-bottom: 1px solid rgba($tertiary, 0.35);
}

.tito-submit {
  color: $tertiary;
  background: darken($secondary, 10%);
  border: none;
  border-radius: 3px;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;

  &:hover {
    color: $secondary;
    background: $tertiary;
  }
}

.tito-ticket-price {
  font-weight: 600;
}

.tito-ticket-name,
.tito-ticket-description {
  display: block;
}

.tito-ticket-name {
  font-weight: 600;
  font-size: 18px;
}

.tito-ticket-description {
  font-size: 14px;
  line-height: 160%;
  font-weight: 100;
}

.tito-tickets-remaining {
  display: block;
  font-size: 14px;
}

.tito-badge-link {
  display: block;
  clear: both;
  width: 100%;
  padding: 15px 20px;
  text-align: right;
}
